.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
}

.board {
  margin: auto;
  padding-top: 100px;
  display: table;
}

.board > div {
  margin-bottom: -2px;
}
